mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic,alt="User's profile picture")
        .textareaContainer
            textarea#posttextarea(placeholder="What's Happening?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
    // Modal
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply 
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic,alt="User's profile picture")
                        .textareaContainer
                            textarea#replytextarea(placeholder="What's Happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button',disabled="") Reply 
mixin createDeletePostModal()
    // Modal
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostLabel.modal-title Delete the post? 
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete 
mixin createConfirmPinModal()
    // Modal
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinLabel.modal-title Pin this post? 
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p This post will appear at the top of your profile. You can only pin one post. 
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#confirmPinButton.btn.btn-primary(type='button') Yes 
mixin createPostModals(userLoggedIn) 
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createConfirmPinModal()

mixin createFollowButton(user,isFollowing)
    - text = isFollowing ? "Following" : "Follow" 
    - followButton = isFollowing ? "followButton following" : "followButton" 
    button(class=followButton, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}
mixin createImageUploadModal()
    // Modal
    #ImageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ImageUploadModalLabel', aria-hidden='true')

        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#ImageUploadModalLabel.modal-title Upload a new profile picture
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")                    
                    .imagePreviewContainer 
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#ImageUploadButton.btn.btn-primary(type='button')  Save
mixin createCoverPhotoUploadModal()
    // Modal
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')

        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoModalLabel.modal-title Upload a new cover photo picture
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#coverPhoto(type="file", name="coverhoto")
                    
                    .imagePreviewContainer 
                        img#CoverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#coverPhotoButton.btn.btn-primary(type='button')  Save